<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.mylibraryapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ControlObjects.changePasswordActivity"></activity>
        <activity android:name=".ControlObjects.EditBookDetailsActivity" />
        <activity android:name=".ControlObjects.BaseActivity" />
        <activity android:name=".ControlObjects.RentalHistoryActivity" />
        <activity android:name=".ControlObjects.RentalActivity" />
        <activity android:name=".ControlObjects.EditProfileActivity" />
        <activity android:name=".ControlObjects.MainActivity" />
        <activity android:name=".ControlObjects.RegisterActivity" />
        <activity android:name=".ControlObjects.SearchResultsActivity" />
        <activity android:name=".ControlObjects.RequestBookActivity"/>
        <activity android:name=".ControlObjects.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
